MYSQL_HOST=db
MYSQL_DATABASE=nextcloud
MYSQL_USER=nextcloud_user
MYSQL_PASSWORD=password
MYSQL_ROOT_PASSWORD=rootpassword
PATH_DATABASE=/data/database
PATH_NEXTCLOUD=/data/nextcloud
PATH_FILES=/data/files
TRAEFIK_TOML_FILE=./traefik.toml
SITE_URL=traefik.frontend.rule=Host:files.site.nl
